* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: url(./images/cursor-normal.png), none;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.flex-item-left {
    flex: 20%;
    max-width: 20%;
    height: calc(100vh - 30px);
    margin: 15px 0px 15px 15px;

    font-family: Helvetica, sans-serif;
    font-size: 11px;
}

.flex-item-left a {
    text-decoration: none;
    cursor: url(./images/cursor-hover.png), none;
    color: black;
}

.flex-item-middle {
    flex: 30%;
    max-width: 30%;
    margin: 15px 15px 15px 15px;
}

.flex-item-right {
    flex: 50%;
    max-width: 50%;
    height: calc(100vh - 30px);
    margin: 15px 0px 15px 15px;
}

.research-question {
    font-size: 9px;
    font-weight: lighter;
    color: #000000;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.question {
    font-size: 11px;
    margin: 0;
    padding: 0;
    margin-top: 8px;
    color: black;
}

.grid-header-section-sessions {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.item-header-sessions-1 {
    flex: 0 0 20%;
    max-width: 20%;
    font-size: 9px;
    font-weight: lighter;
    color: #000000;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.item-header-sessions-2 {
    flex: 0 0 40%;
    max-width: 40%;
    font-size: 9px;
    font-weight: lighter;
    color: #000000;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.item-header-sessions-3 {
    flex: 0 0 40%;
    max-width: 40%;
    font-size: 9px;
    font-weight: lighter;
    color: #000000;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

/* session 1 (grid) */
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
}

.grid-container-section-sessions {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.item-section-sessions-1 {
    flex: 0 0 20%;
    max-width: 20%;
    font-size: 11px;
    margin: 0;
    padding: 0;
    margin-top: 8px;
    color: #000000;
}

.item-section-sessions-2 {
    flex: 0 0 40%;
    max-width: 40%;
    font-size: 11px;
    margin: 0;
    padding: 0;
    margin-top: 8px;
    color: #000000;
}

.item-section-sessions-3 {
    flex: 0 0 40%;
    max-width: 40%;
    font-size: 11px;
    margin: 0;
    padding: 0;
    margin-top: 8px;
    color: #000000;
}

.item-link a {
    text-decoration: none;
    cursor: url(./images/cursor-hover.png), none;
    color: black;
}

#sessions-container:hover .item-link {
    cursor: url(./images/cursor-hover.png), none;
    color: black;
}
