* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: url(./images/cursor-normal.png), none;
    font-family: Helvetica, sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.flex-item-left {
    flex: 40%;
    max-width: 40%;
    margin: 15px 15px 0px 15px;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    position: fixed;
    overflow-y: auto;
}

.flex-item-left a {
    text-decoration: none;
    cursor: url(./images/cursor-hover.png), none;
    color: black;
}

.flex-item-right {
    flex: 60%;
    max-width: 60%;
    margin: 15px 0px 0px;
    margin-left: 40%;
    overflow-y: auto;
    margin-right: 5px;
}

.flex-container2 {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

.column {
    flex: 25%;
    max-width: 25%;
    margin: 0;
    padding: 0px 5px 0px; 
}

.column img {
    width: 100%;
    vertical-align: middle;
    margin-top: 10px;
}

.main-text {
    margin-top: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
}